h2
{
	color: yellow;
}
figure
{
	text-align: center;
}
body
{
	background-image: url(fonduni.jpg);
	font-size: 1.5em	
}
.cadre	
{
	border: 1px solid yellow;
	box-shadow: 6px 6px 0px black;
	border-radius: 15px;

}